<template>
    <div class="card">
        <div class="card-header">
            <button type="button" @click="fillChart" class="btn btn-primary">FILL CHART</button>
            <button type="button" @click="clear" class="btn btn-danger">CLEAR</button>
        </div>

        <div class="card-body">
            <bar v-if="loaded" :data="chartData"></bar>
            <div v-if="cleared" class="alert alert-info" role="alert">
                Chart data cleared . Refill chart data.
            </div>

        </div>
    </div>

</template>

<script>
import axios from "axios";
import {Bar} from 'vue-chartjs'
import {Chart as ChartJS, Title, Tooltip, Legend, BarElement, CategoryScale, LinearScale} from 'chart.js'

ChartJS.register(Title, Tooltip, Legend, BarElement, CategoryScale, LinearScale)


export default {
    components: {Bar},
    data: () => ({
        loaded: false,
        chartData: null,
        cleared: false
    }),
    mounted() {
        this.loaded = false
    },
    methods: {
        fillChart: function () {
            axios.get('/api/chart')
                .then(response => {
                    this.loaded = true
                    this.cleared = false
                    this.chartData = {
                        labels: response.data.labels,
                        datasets: [
                            {
                                label: 'Chart data',
                                backgroundColor: '#10c3c7',
                                data: response.data.values
                            }]
                    }
                })
        },
        clear: function () {
            axios.post('/api/clear')
                .then(response => {
                    this.loaded = false
                    this.chartData = null
                    this.cleared = true
                })

        }
    }
}
</script>
